.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.popup-content {
    background-color: var(--default-color-beige);
    margin: 10% auto;
    padding: 30px;
    border-radius: 8px;
    height: 80vh;
    max-height: 2000px;
    width: 90vw;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
}
.close-popup {
    position: absolute;
    top: 10%;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: var(--default-color-pink);
}
.close-popup:hover {
    color: red;
}

