/*
Theme Name: Roneous Child
Theme URI: http://www.themelogi.com/themes/roneous
Description: A child theme of Roneous Theme
Author: THEMELOGI
Author URI: http://www.themelogi.com
Version: 1.0.0
Template: roneous
*/